In [2]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [3]:
incidents=pd.read_csv("CAD_INCIDENTS.csv",sep=',',nrows=100);

IOError: File CAD_INCIDENTS.csv does not exist

In [3]:
incidents.head()

,I_Incident_PK,Field_Initiated,Arrive_Stamp_Missing,Not_Dispatched,Pursuit_Incident,Priority_Up_Flag,Scheduled_Flag,Dispatched_Units,Attended_Flag,GOS_Job,...,DateClosed_MONTH_NUM_CAL,DateClosed_MONTH_NUM_FIN,DateClosed_QTR_START,DateClosed_QTR_END,DateClosed_QTR_NUM_CAL,DateClosed_QTR_NUM_FIN,DateClosed_YEAR_CAL,DateClosed_YEAR_FIN,TimeClosed_HOUR,TimeClosed_HOUR_GRP
0,20805661,Y,N,N,N,NaN,0,1.0,Y,N,...,10,4,OCT11,DEC11,4,2,2011,2011-12,1,00:00 - 02:59
1,20805055,Y,N,N,N,NaN,0,1.0,Y,N,...,10,4,OCT11,DEC11,4,2,2011,2011-12,15,15:00 - 17:59
2,20821565,N,N,Y,N,NaN,0,NaN,N,N,...,10,4,OCT11,DEC11,4,2,2011,2011-12,9,09:00 - 11:59
3,20809982,Y,N,N,N,NaN,0,1.0,Y,N,...,10,4,OCT11,DEC11,4,2,2011,2011-12,14,12:00 - 14:59
4,20809878,Y,N,N,N,NaN,0,1.0,Y,N,...,10,4,OCT11,DEC11,4,2,2011,2011-12,12,12:00 - 14:59

In [4]:
incidents.to_csv("incidents_100.csv",sep=",")

In [5]:
#list(incidents.columns.values)

In [6]:
offences = pd.read_csv("OFFENCES.csv",sep=',',nrows=10);
offences.to_csv("offences_100.csv",sep=',');
#list(offences.columns.values)

In [7]:
offences.head()

,IR_Recode,Date Incident Reported,Time Incident Reported,Date Incident Occurred,Time Incident Occurred,Date Incident Occurred To,Time Incident Occurred To,Date Incident Recorded,Time Incident Recorded,Method of Reporting,...,Quarter End (Result),Quarter Number (Calendar) (Result),Quarter Number (Financial) (Result),Year (Calendar) (Result),Year (Financial) (Result),Incident Report Type,Source System,Theft_Frm_Veh_flag,SVO,Order_SVO
0,100001,08/01/04,14:27,01/01/00,8:00,05/12/02,16:00,08/01/04,14:30,Letter,...,NaN,NaN,NaN,NaN,NaN,CRIME,IMS,N,Fraud,23.0
1,100002,05/01/04,18:00,01/01/03,8:00,01/01/03,12:00,05/01/04,19:30,Phone,...,MAR04,1.0,3.0,2004.0,2003-04,CRIME,IMS,N,Dwelling Burglary,11.0
2,100002,05/01/04,18:00,01/01/03,8:00,01/01/03,12:00,05/01/04,19:30,Phone,...,SEP04,3.0,1.0,2004.0,2004-05,CRIME,IMS,N,NaN,NaN
3,100003,05/01/04,20:30,05/01/04,9:30,05/01/04,12:30,05/01/04,22:48,Phone,...,MAR04,1.0,3.0,2004.0,2003-04,CRIME,IMS,N,Dwelling Burglary,11.0
4,100003,05/01/04,20:30,05/01/04,9:30,05/01/04,12:30,05/01/04,22:48,Phone,...,SEP04,3.0,1.0,2004.0,2004-05,CRIME,IMS,N,NaN,NaN

In [8]:
## IGNORE THIS

# Need a way to get only rows where placecode = D310,D315,D265,D215,D399(?)
#relevant_locations=["D215","D240","D265","D310","D315",'D399']

#street_offences = pd.read_csv("OFFENCES.csv",sep=',',nrows=1000);
#offences.to_csv("offences_100.csv",sep=',');
#list(offences.columns.values)

In [9]:
rows_to_process = 10000


# Break processing of OFFENCES.csv down in to ~100 steps
# Removes the need to load the entire dataset in to memory
# Takes a long time to process regardless
# Takes Assault, Theft, Property Damage, Robbery and Drug offence rows
# Make sure to output results to csv
# Will need to remove domestic assault cases as they are not represented in the sydney data

street_offences = pd.read_csv("OFFENCES.csv",sep=',',nrows=rows_to_process);
relevant_offences = street_offences[street_offences["Offence Group 3"] == "Assault"]

offences = pd.read_csv("OFFENCES.csv",sep=',',nrows=10);

header_title = list(offences.columns.values)

for n in range(1,101):
    street_offences = pd.read_csv("OFFENCES.csv",sep=',',names=header_title,skiprows=rows_to_process*n,nrows=rows_to_process);
    
    street_assaults = street_offences[street_offences["Offence Group 3"] == "Assault"]
    thefts = street_offences[street_offences["Offence Group 3"] == "Theft"]
    property_damage = street_offences[street_offences["Offence Group 3"] == "Property Damage"]
    robberies = street_offences[street_offences["Offence Group 3"] == "Robbery"]
    drug_offences = street_offences[street_offences["Offence Group 3"] == "Drugs (Other)"]
    
    
    relevant_offences = relevant_offences.append(property_damage)
    relevant_offences = relevant_offences.append(thefts)
    relevant_offences = relevant_offences.append(robberies)
    relevant_offences = relevant_offences.append(drug_offences)
    relevant_offences = relevant_offences.append(street_assaults)
    
len(relevant_offences)

500970

In [12]:

#relevant_offences.to_csv(path_or_buf='offences_cut.csv')

In [13]:
relevant_offences['Offence Group 2'].unique()

array(['Non-Domestic Assault', 'Domestic Assault', 'Damage (Property)',
       'Theft', 'Robbery (Non-Business)', 'Robbery (Business)',
       'Drugs (Other)'], dtype=object)

In [14]:
relevant_offences = relevant_offences[relevant_offences["Offence Group 2"]!="Domestic Assault"]

In [15]:
relevant_offences['Offence Group 2'].unique()

array(['Non-Domestic Assault', 'Damage (Property)', 'Theft',
       'Robbery (Non-Business)', 'Robbery (Business)', 'Drugs (Other)'], dtype=object)

In [17]:
relevant_offences.to_csv(path_or_buf='offences_cut.csv')

In [4]:
relevant_offences = pd.read_csv('offences_cut.csv',sep=',')

In [5]:
relevant_offences['Victim Sex'].unique()

array(['Male', 'Unknown', 'Female', 'Indeterm'], dtype=object)

In [7]:
relevant_offences = relevant_offences[relevant_offences["Victim Sex"]!="Unknown"]
relevant_offences = relevant_offences[relevant_offences["Victim Sex"]!="Indeterm"]

In [8]:
relevant_offences.to_csv(path_or_buf='offences_cut_mf_only.csv')